body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}
h1 {
	font-weight: normal;
	font-size: 1.2em;
	color: black;
	margin-bottom: 15px;
}
p {
	color: #595959;
	line-height: 20px;
	margin-top: 18px;
	margin-bottom: 15px;
	margin-left: 20px;
	margin-right: 20px;
}

p span.large {
	font-size: 18px;
}

p.subheader {
	font-size: 19px;
	text-align: center;
	margin-top: 29px;
	margin-bottom: 30px;
}

p.chalkboard {
    font-family: "Chalkboard";
}
.centered {
	display: block;
	margin: 0 auto;
}

.demoImage {
	margin-top: 33px;
}